* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.container {
}

.container p {
  display: flex;
  justify-content: center;
}

.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.img-container p {
  padding: 20px;
}

.btn-container {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}