* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}
.container-filippe {
  margin: 30px ;
  padding: 30px;
}

.container-filippe p {
  display: flex;
  justify-content: center;
}

.container-filippe h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2-filippe {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-container2-filippe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-container2-filippe h2 {
  padding: 20px;
}

.text-container2-filippe p {
  padding: 20px;
}

.img-container2-filippe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.img-container2-filippe img {
  width: 400px;
  height: 250px;
}


.btn-filippe {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 85px;
  height: 40px;
  border: 0.05rem solid #000;
}

.btn2-filippe {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 85px;
  height: 40px;
  border: none;

}